@model BibliotecaWebApplication.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Libro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroPaginas)
        </dd>

        
    </dl>
</div>
<div>
    <h4>Autor(es):</h4>
    @if (Model.AutorLibros.Any())
    {
        <ul class="list-group list-group-flush">
            @foreach (var autorLibro in Model.AutorLibros)
            {
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user fa-2x text-primary me-2" title="Autor"></i>
                    <span class="fw-semibold">
                        @autorLibro.Autor.Nombres @autorLibro.Autor.Apellidos
                    </span>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Este libro no tiene autores asociados.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.LibroId" class="btn btn-edit"><i class="fas fa-edit"></i> Editar</a>
    <a asp-action="Index" class="btn btn-back"><i class="fas fa-arrow-left"></i> Volver</a>
</div>

