@model IEnumerable<BibliotecaWebApplication.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Libros</h1>

<p>
    <a asp-action="Create" class="btn btn-create"><i class="fas fa-plus"></i> Crear Libro</a>
</p>
<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPaginas)
            </th>
            <th>Formato</th>
            <th>Autores</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPaginas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Formato)
                </td>
                <td>
                    @foreach (var autorLibro in item.AutorLibros)
                    {
                        var autor = autorLibro.Autor;
                        <span>@autor.Nombres @autor.Apellidos</span>
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LibroId" class="btn btn btn-edit btn-sm"><i class="fas fa-edit"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.LibroId" class="btn btn-details btn-sm"><i class="fas fa-info-circle"></i> Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.LibroId" class="btn btn btn-delete btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
